*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  position: relative;
} */

.box{
  width: 300px;
  height: 300px;
  background-color: brown;
  margin: 20px;
  transition: all .5s;
}

.box:hover{
  background-color: burlywood;
  width: 500px;
  height: 500px;
}

.box-2{
  position: absolute;
  width: 150px;
  height: 150px;
  background-color:aqua;
  top: 0;
  left: 0;
  animation-name: muovi-quadrato;
  animation-duration: 4s;
  animation-iteration-count: 2;
}

@keyframes muovi-quadrato {
  0%{
    top: 0;
    left: 0;
  }

  25%{
    top: 0;
    left: calc(100% - 150px);
  }

  50%{
    top: calc(100% - 150px);
    left: calc(100% - 150px);
  }

  75%{
    top: calc(100% - 150px);
    left: 0;
  }

  100%{
    top: 0;
    left: 0;
  }
  
}
